{% extends 'base.html' %}
{% load static %}
{% block title %}My participations{% endblock %}

{% block content %}
    <div class="container p-6">
        <div class="jumbotron p">
            {% if user.is_authenticated %}
                <h1>Hey {{ duser.username }}! You have participated on:</h1>
                {% for competition in competitions %}
                    {{competition.title}}<br>
                {% endfor %}
            {% else %}
                <p>You are not logged in. Log in to see your profile</p>
            {% endif %}
        </div>
    </div>
{% endblock %}