{% extends 'base.html' %}
{% load static %}

{% block title %}Qui som?{% endblock %}

{% block content %}
    <div class="container px-12">
        <div class="jumbotron">
            <div class="container-fluid text-center">
                <img class="center-fit" width="40%" src="{% static 'imgs/CodeleagueTransp.png' %}"
                     alt="Architecture"><br>
                <h4><b>What is Codeleague?</b></h4><br>
                <p>
                    <b>Codeleague</b> is a platform created from the idea that everyone could be able to participate
                    in competitions in the field of computer science.
                </p>
                <p>
                    But that's not all because everyone will also be able to create their own competition!
                </p><br>
                <h4><b>Can I participate in competitions?</b></h4><br>
                <p>
                    Everyone can take part in these events. You can participate alone or with a team of maximum 4
                    members.
                </p>
                <p>If you want to meet new people you have the possibility to create a free group, which means that <br>when
                    you
                    create your group you able that other people with no group could join you. </p>
                <h4><b>How can I create a competition?</b></h4><br>
                <p>
                    Everyone is able to create their own competition. It's very easy!
                    As we want that everyone could take part in this platform, everyone can create a competition.
                    The only thing you have to do is is click on "Create a competition" on the home page. Afterwards,
                    you
                    will only have to fill out a very short form, and that's all!
                </p>
            </div>
        </div>
    </div>
{% endblock %}

