{% load static %}
<div class="container" xmlns:competition="http://www.w3.org/1999/xhtml">
    <div class="container-fluid text-center">
        <h1>COMPETITIONS</h1>
    </div>
    <br>
    <div class="row pb-3">
        {% for compet in competitions %}
            <div class="col-6 pb-3">
                <div class="card">
                    <div class="card-body">
                        {% if compet.owner == user %}
                            <a href="{% url 'competition:edit' compet.pk %}"
                               class="btn btn-outline-primary float-right">
                                <img width="20px"
                                     src="{% static 'imgs/icons/edit.png' %}">Edit
                            </a>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <h4 class="card-title">{{ compet.title }}{% if compet.is_competition_opened %}
                                    <span class="badge badge-success"
                                          style="background-color: #74DA47; border-color: #74DA47; color: #000">In progress</span>
                                {% else %}
                                    <span class="badge badge-danger"
                                          style="background-color: #EF3B3B; border-color: #EF3B3B; color: #000">Finalized</span>
                                {% endif %}</h4>
                            </div>

                        </div>
                        {% if compet.is_inscription_opened %}
                            <span class="badge badge-success"
                                  style="background-color: #74DA47; border-color: #74DA47; color: #000">Inscriptions opened</span>
                        {% else %}
                            <span class="badge badge-danger"
                                  style="background-color: #EF3B3B; border-color: #EF3B3B; color: #000">Inscriptions closed</span>
                        {% endif %}

                        <p class="card-text pt-3">
                            {{ compet.description|slice:"0:200" }}...


                        </p><br>
                        <div class="row">
                            <div class="col-9">
                                <div class="container row">
                                    <h6>Date: {{ compet.data_start_competition|date:"SHORT_DATE_FORMAT" }} -
                                        {{ compet.data_finish_competition|date:"SHORT_DATE_FORMAT" }}</h6>
                                </div>
                                <div class="container row">
                                    <h6>Time: {{ compet.data_start_competition|time }}
                                        - {{ compet.data_finish_competition|time }}</h6>
                                </div>
                            </div>

                            <div class="col-3">
                                <a href="#" class="btn badge-pill btn-primary float-right" data-toggle="modal"
                                   data-target="#modal{{ compet.id }}">+ info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal competition -->
            <div class="modal fade pt-5" id="modal{{ compet.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="col">
                                <h5 class="modal-title" id="exampleModalLabel">{{ compet.title }}</h5>
                            </div>
                            <div class="col">
                                <div class="row pb-1">
                                    {% if compet.is_competition_opened %}
                                        <span class="badge badge-success"
                                              style="background-color: #74DA47; border-color: #74DA47; color: #000">In progress</span>
                                    {% else %}
                                        <span class="badge badge-danger"
                                              style="background-color: #EF3B3B; border-color: #EF3B3B; color: #000">Finalized</span>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    {% if compet.is_inscription_opened %}
                                        <span class="badge badge-success"
                                              style="background-color: #74DA47; border-color: #74DA47; color: #000">Inscriptions opened</span>
                                    {% else %}
                                        <span class="badge badge-danger"
                                              style="background-color: #EF3B3B; border-color: #EF3B3B; color: #000">Inscriptions closed</span>
                                    {% endif %}
                                </div>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-xs-12 float-right">
                                <div class="row">
                                    <a href='{% url "competition:detail" compet.id %}' type="button"
                                       class="btn btn-outline-primary">Go to competition page</a>
                                </div>
                            </div>
                            <div class="col-xs-12">


                                <div class="row">
                                    {{ compet.description|slice:"0:240" }}...
                                </div>
                                <br>
                            </div>
                            <div class="container row">
                                <h6>Date: {{ compet.data_start_competition|date:"SHORT_DATE_FORMAT" }} -
                                    {{ compet.data_finish_competition|date:"SHORT_DATE_FORMAT" }}</h6>
                            </div>
                            <div class="container row">
                                <h6>Time: {{ compet.data_start_competition|time }}
                                    - {{ compet.data_finish_competition|time }}</h6>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

