{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
            {% for group in groups %}
            {% with foo_num=forloop.counter %}
            <div class="row pb-3">
                <div class="col-12">
                    <div class="card" name="card_team_{{ group.name }}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">                            
                                    <h4 class="card-title">
                                    {% if user in group.members.all %}
                                        [My team]
                                    {% endif %}
                                    {{ group.name }}</h4>
                                    <h6 name="members">{{ group.members.all|length }}/4 members</h6>
                                    {% if competition.finalized and group.ranking %}
                                        <h6> Puntuation: {{group.ranking.score}} </h6>
                                    {% elif competition.finalized %}
                                    <h6> Not presented &#128547; </h6>
                                    {% endif %}
                                </div>
                                <div class="col-4 ">                            

                                    {% if haveTeam == False and competition.owner != user and competition.is_inscription_opened %}
                                    <form method="POST">{% csrf_token%}
                                        <input type="hidden" name="action" value="join">
                                        <input type="hidden" id="teamId" value={{group.id}} name="teamId">
                                        <p><input type="submit" value="Join team" name="join"/></p>
                                        
                                    </form>
                                    {% elif user in group.members.all and competition.is_inscription_opened %}
                                    <form method="POST">{% csrf_token%}
                                        <a href="#" class="btn btn-primary float-right" data-toggle="modal" name="leave_group"
                                        data-target="#modal{{ group.id }}">Leave Group</a>
                                    </form>
                                    <!-- Modal competition -->
                                    <div class="modal fade pt-5" id="modal{{ group.id }}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog " role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Are you sure you want to leave the team?
                                                    </h5>
                                                    
                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-xs-12 float-right">
                                                        <form method="post">
                                                            {% csrf_token%}
                                                            <input type="hidden" name="action" value="leave">
                                                            
                                                            <input type="hidden" id="teamId" value={{group.id}} name="teamId">
                                                            <input class="btn btn-warning float-left" type="submit" name="confirm_leave" value="Confirm">
                                                        </form>
                                                    </div>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elif competition.finalized and group.ranking %}
                                        {% if foo_num == 1 %}
                                        <img src="/static/imgs/icons/Oro.png" alt="First place"width="100px" class="rounded float-right"  >
                                        {% elif foo_num == 2%}
                                        <img src="/static/imgs/icons/Plata.png" alt="First place"width="100px" class="rounded float-right"  >

                                        {% elif foo_num == 3    %}
                                        <img src="/static/imgs/icons/bronce.png" alt="First place"width="100px" class="rounded float-right"  >
                                        {% else %}
                                            <h4>#{{foo_num}}</h4>
                                        {% endif %}

                                    {% endif %}
                                </div>
                                
                            </div>               
                        </div>
                    </div>
                    </div>
            </div>
            {% endwith %}
            {% endfor %}
    </div>
{% endblock %}