{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
            {% for group in groups %}
            <div class="row pb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">                            
                                    <h4 class="card-title">
                                    {% if user in group.members.all %}
                                        [My team]
                                    {% endif %}
                                    {{ group.name }}</h4>
                                    <h6>{{ group.members.all|length }}/4 members</h6> 
 
                                </div>
                            </div>
                            {% if haveTeam == False and competition.owner != user and competition.is_inscription_opened %}
                            <form method="POST">{% csrf_token%}
                                <input type="hidden" id="name" value={{group.id}} name="name">
                                <p><input type="submit" value="Join team"/></p>
                            </form>
                            {% endif %}
                            {% if user in group.members.all and competition.is_inscription_opened %}
                            <form method="POST">{% csrf_token%}
                                <a href='{% url 'competition:leave-team' competition.id group.id %}' type="button"
                                class="btn btn-outline-primary">Leave Group</a>
                            </form>        
                            {% endif %}
                        </div>               
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}