{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
            {% for group in groups %}
            <div class="row pb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="card-title">{{ group.name }}</h4>
                                    <h6>{{ group.members.all|length }}/4 members</h6> 
 
                                </div>
                            </div> 
                            <form method="POST">{% csrf_token%}
                                <input type="hidden" id="name" value={{group.id}} name="name">
                                <p><input type="submit" value="unirse al grupo"/></p>
                            </form>
                        </div>               
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}