{% load static %}
<div class="modal fade pt-5" id="modal{{ competition.id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Joining {{ competition.title }}...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container text-center pb-3">
                    Have you got a Team or are you alone?
                </div>
                <div class="row">
                    <div class="container text-center px-6">
                        <div class="col-xs-12 float-left pl-5">
                            <a href='{% url 'competition:join' competition.id %}' type="button"
                               class="btn btn-outline-primary">Join to a Team</a>
                        </div>
                        <div class="col-xs-12 float-right pr-5">
                            <a href='{% url 'competition:create-team' competition.id %}' type="button"
                               class="btn btn-outline-primary">Create a Team</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>