{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            Hey, {{ user.username }}. You have already authenticated.
        </div>
    {% endif %}
    <div class="jumbotron">
        {% if user.is_authenticated %}

            <h1>What can you do now?</h1>
            <div class="row">
                <div class="col-12 col-md-4 py-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Compete!</h5>
                            <p class="card-text">Find a competition and enjoy programming! That's what you have
                                registered, didn't you?</p>
                            <a href="{% url 'league:home' %}" class="btn btn-primary float-right">Let's hack</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 py-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Update your profile!</h5>
                            <p class="card-text">A cool profile means a cool hacker. Let's update your profile.</p>
                            <a href="{% url 'league:home' %}" class="btn btn-primary float-right">My profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 py-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Create a competition!</h5>
                            <p class="card-text">If you find a competition that would be enjoyable? Create one!</p>
                            <a href="{% url 'competition:create-competition' %}" class="btn btn-primary float-right">Creator</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}


            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-10">
                        <h2>Sign up</h2>
                        <form method="post">
                            {% csrf_token %}
                            <!--
                                      csrf_token is a tag for security concerns, namely to prevent CSRF Attack.
                                      https://www.netsparker.com/blog/web-security/csrf-cross-site-request-forgery/
                                      -->
                            {{ form|crispy }}
                            <button class="btn btn-primary" value="login" type="submit">Login</button>
                        </form>

                    </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}