<div>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">{% csrf_token %}
        <li class="nav-item px-3">
            <a class="nav-link" href="{% url 'league:info' %}">
                Info
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item px-3">
                <a class="nav-link" href="{% url 'account:user_detail' user.pk %}">My Profile</a>
            </li>
            <li class="nav-item px-3">
                <a class="btn btn-outline-secondary" href="{% url 'account:logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item px-3">
                <a class="btn btn-outline-primary" href="{% url 'account:signup' %}">Sign Up</a>
                <a class="btn btn-outline-secondary" href="{% url 'account:login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
</div>