{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Sign Up{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="jumbotron">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form|crispy }}
            {% if competition.files.all|length > 0%}
                <div class="row">
                    <div class="col-2"><h5>File</h5></div>
                    <div class="col-4"><h5>Custom file name</h5></div>
                </div>  
                {% for file in competition.files.all %}
                    <div type="row justify-content-md-center">
                        <div class="row">
                            <div class="col-2">{{file.title}}</div>
                            <div class="col-4"><input type="text" class="form-control" name="title{{file.id}}" id="title{{file.id}}" value="{{file.title}}"></div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="delete{{file.id}}" name="delete{{file.id}}">
                                <label class="form-check-label" for="exampleCheck1">Delete</label>
                            </div>  
                        </div>    
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="exampleFormControlFile1">Add new files</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="files" multiple>
            </div>

            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}